# pymupdf
fuzzywuzzy
layoutparser
numpy==2.2.6
paddlepaddle==3.0.0
paddleocr==2.10.0
pandas==2.2.3
pdf2image
Pillow
tabula_py
setuptools
fastapi
uvicorn
python-multipart
python-dotenv
paramiko
jinja2
python-Levenshtein
PyPDF2
sqlalchemy
databases
paramiko
asyncpg
psycopg2-binary