# pymupdf
fuzzywuzzy
layoutparser
numpy
paddleocr
pandas
pdf2image
Pillow
tabula_py
paddlepaddle
setuptools
fastapi
uvicorn
# pip install fastapi uvicorn psycopg2
python-multipart
python-dotenv
paramiko